Подсчитать количество "("<br>
var f = require('fs');<br>
var text = ""; //создаем переменные<br>
var i = 0;<br>
var col = 0;<br>
f.readFile('control.txt','utf-8', function(err, data){<br>
var arr = data.split("("); для поиска скобки<br>
console.log(arr.length - 1);<br>
});<br>
<br>
<a href="https://onlineasd3.gitlab.io/plain-html">Назад</a>