        <p>Код на TypeScript</p><br>
        <p>
        var fs = require('fs'); // Подключение модуля<br>
        fs.readFile('file.txt', 'utf8', function (err, data) { // Чтение файла<br>
            if (err)<br>
                throw err; // исколючения на ошибки<br>
                
            var count = (data.match(/,/g) || []).length + 1; // Подсчет всех символов после запятой<br>
            console.log(count); // Вывод данных<br>
        });
        </p>
        <br>
        <p>Код на JS</p>
        <p>
        const fs = require('fs'); // Подключение модуля<br>

        fs.readFile('file.txt', 'utf8', function(err, data) {  // Чтение файла<br>
            if (err) <br>
                throw err; // исколючения на ошибки<br>
        
            var count = (data.match(/,/g) || []).length + 1; // Подсчет всех символов после запятой<br>
        
            console.log(count); // Вывод данных<br>
        });<br>
        </p>
        
        <br>
<a href="https://onlineasd3.gitlab.io/plain-html">Назад</a>